@model IEnumerable<FrontEnd.Models.ReservacionEventoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservaciones Eventos</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table style="color:white" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdReservacionEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr>
                <td colspan="3" style="text-align: center;">No hay reservaciones registradas</td>
            </tr>
        }
        else
        {
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdReservacionEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personas)
            </td>
            <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdReservacionEvento }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdReservacionEvento }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdReservacionEvento })
            </td>
        </tr>
    }
}
    </tbody>
</table>
