@model IEnumerable<FrontEnd.Models.TennisCourtViewModel>

@{
    ViewData["Title"] = "Tennis Court";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tennis Court</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTennisCourt)
            </th>
            <th>
                <label @Html.DisplayNameFor(model => model.Desc)>Descripcion</label>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr>
                <td colspan="3" style="text-align: center;">No hay mesas registradas</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTennisCourt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Desc)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.IdTennisCourt }) |
                        @Html.ActionLink("Details", "Details", new { id=item.IdTennisCourt }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.IdTennisCourt })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
