@model IEnumerable<FrontEnd.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>
<!--
<p>
    <a asp-action="Create">Crear</a>
</p>
-->
<table class="table" style="color: white;">
    <thead>
        <tr>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPermiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClubMember)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr>
                <td colspan="3" style="text-align: center;">No hay usuarios registrados</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <!--
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPermiso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEstado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdClubMember)
                    </td>
                    -->
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <!--
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.IdUsuario }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdUsuario })
                    </td>
                    -->
                </tr>
            }
        }
    </tbody>
</table>
